.filtro,.busca{
  outline: none;
}
.busca::placeholder{
    color:#000;
}
.encontrar-amigos{
    padding:14rem 1rem 0rem 2rem; 
}
li:hover{
  color:#FFF;
}
.barra{
  overflow-y:scroll;
  height:680px;
}
*::-webkit-scrollbar {
  width: 15px;
 }
*::-webkit-scrollbar-track {
  background:#353535;
}
*::-webkit-scrollbar-thumb {
  background-color: #7f7f7f;
  border-radius: 20px;
 
}